In [2]:
import pandas as pd
import os
os.listdir()

movies = pd.read_csv('data/movies_w.csv')
movies.columns = ['movie_id','title','genres','year']

ratings = pd.read_csv('data/ratings_w.csv')

users = pd.read_csv('data/users_w.csv')
users.columns = ['user_id','gender','age','occupation','zip_code']

In [3]:
df = pd.merge(ratings, users, how='left', on='user_id')    # 'user_id','gender','age','occupation','zip_code'
df = pd.merge(df, movies, how='left', on='movie_id')       # 'movie_id','title','genres','year'
df

,user_id,movie_id,rating,time,gender,age,occupation,zip_code,title,genres,year
0,1,1193,5,978300760,F,1,10,48067,One Flew Over the Cuckoo's Nest (1975),Drama,1975
1,1,661,3,978302109,F,1,10,48067,James and the Giant Peach (1996),Animation|Children's|Musical,1996
2,1,914,3,978301968,F,1,10,48067,My Fair Lady (1964),Musical|Romance,1964
3,1,3408,4,978300275,F,1,10,48067,Erin Brockovich (2000),Drama,2000
4,1,2355,5,978824291,F,1,10,48067,"Bug's Life, A (1998)",Animation|Children's|Comedy,1998
...,...,...,...,...,...,...,...,...,...,...,...
1000204,6040,1091,1,956716541,M,25,6,11106,Weekend at Bernie's (1989),Comedy,1989
1000205,6040,1094,5,956704887,M,25,6,11106,"Crying Game, The (1992)",Drama|Romance|War,1992
1000206,6040,562,5,956704746,M,25,6,11106,Welcome to the Dollhouse (1995),Comedy|Drama,1995
1000207,6040,1096,4,956715648,M,25,6,11106,Sophie's Choice (1982),Drama,1982
1000208,6040,1097,4,956715569,M,25,6,11106,E.T. the Extra-Terrestrial (1982),Children's|Drama|Fantasy|Sci-Fi,1982

In [4]:
year = df['year']
new = []

for x in year:
    if (x >= 1919) & (x < 1920):
        new.append('1910s')
    elif (x >= 1920) & (x < 1930):
        new.append('1920s')
    elif (x >= 1930) & (x < 1940):
        new.append('1930s')
    elif (x >= 1940) & (x < 1950):
        new.append('1940s')
    elif (x >= 1950) & (x < 1960):
        new.append('1950s')
    elif (x >= 1960) & (x < 1970):
        new.append('1960s')
    elif (x >= 1970) & (x < 1980):
        new.append('1970s')
    elif (x >= 1980) & (x < 1990):
        new.append('1980s')
    elif (x >= 1990) & (x < 2000):
        new.append('1990s')
    else:
        new.append('2000s')
df['year2'] = new

In [5]:
1, 18.  미성년_사회초년생
25,35  주요_경제인구
45, 50  시니어_경제인구
56.       은퇴

SyntaxError: invalid syntax (614967393.py, line 1)

In [6]:
age = df['age']
new2 = []

for i in age:
    if (i==1) | (i==18):
        new2.append('미성년_사회초년생')
    elif (i==25) | (i==35):
        new2.append('주요_경제인구')
    elif (i==45) | (i==50):
        new2.append('시니어_경제인구')
    else:
        new2.append('은퇴')
        
df['age2'] = new2

In [7]:
df

,user_id,movie_id,rating,time,gender,age,occupation,zip_code,title,genres,year,year2,age2
0,1,1193,5,978300760,F,1,10,48067,One Flew Over the Cuckoo's Nest (1975),Drama,1975,1970s,미성년_사회초년생
1,1,661,3,978302109,F,1,10,48067,James and the Giant Peach (1996),Animation|Children's|Musical,1996,1990s,미성년_사회초년생
2,1,914,3,978301968,F,1,10,48067,My Fair Lady (1964),Musical|Romance,1964,1960s,미성년_사회초년생
3,1,3408,4,978300275,F,1,10,48067,Erin Brockovich (2000),Drama,2000,2000s,미성년_사회초년생
4,1,2355,5,978824291,F,1,10,48067,"Bug's Life, A (1998)",Animation|Children's|Comedy,1998,1990s,미성년_사회초년생
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1000204,6040,1091,1,956716541,M,25,6,11106,Weekend at Bernie's (1989),Comedy,1989,1980s,주요_경제인구
1000205,6040,1094,5,956704887,M,25,6,11106,"Crying Game, The (1992)",Drama|Romance|War,1992,1990s,주요_경제인구
1000206,6040,562,5,956704746,M,25,6,11106,Welcome to the Dollhouse (1995),Comedy|Drama,1995,1990s,주요_경제인구
1000207,6040,1096,4,956715648,M,25,6,11106,Sophie's Choice (1982),Drama,1982,1980s,주요_경제인구
1000208,6040,1097,4,956715569,M,25,6,11106,E.T. the Extra-Terrestrial (1982),Children's|Drama|Fantasy|Sci-Fi,1982,1980s,주요_경제인구

In [9]:
gens = ['Action','Adventure','Animation',
        "Children's",'Comedy','Crime','Documentary','Drama',
        'Fantasy',   'Film-Noir',   'Horror',   'Musical',   'Mystery',   
        'Romance',   'Sci-Fi',   'Thriller',   'War'   ,'Western']
ages = ['1910s','1920s','1930s','1940s','1950s','1960s','1970s','1980s','1990s','2000s']
age2 = ['미성년_사회초년생', '주요_경제인구','시니어_경제인구','은퇴']

In [10]:
values = []
for i in gens:
    for j in ages:
        for a in age2:
            x = df[(df['genres'].str.contains(i))&(df['year2']==j)&(df['age2']==a)]['rating'].mean()
            values.append((i, j, a, x))
#             print(i, j, a, x)

In [ ]:
저 조건에 해당하는 dataframe을 추출한 후 rating컬럼의 평균값을 보겠다- 라는거야

In [13]:
result = pd.DataFrame(values)
result.columns = ['genres','ages','age2','rating_mean']    # 각각 i,j,a,x 
print(result)

      genres   ages       age2  rating_mean
0     Action  1910s  미성년_사회초년생     1.000000
1     Action  1910s    주요_경제인구     3.000000
2     Action  1910s   시니어_경제인구     3.000000
3     Action  1910s         은퇴          NaN
4     Action  1920s  미성년_사회초년생     3.100000
..       ...    ...        ...          ...
715  Western  1990s         은퇴     3.621984
716  Western  2000s  미성년_사회초년생          NaN
717  Western  2000s    주요_경제인구          NaN
718  Western  2000s   시니어_경제인구          NaN
719  Western  2000s         은퇴          NaN

[720 rows x 4 columns]

In [14]:
result_pivot = pd.pivot_table(result,                # 피벗할 데이터프레임
                     index = ['ages','age2'],    # 행 위치에 들어갈 열
                     columns = 'genres',    # 열 위치에 들어갈 열
                     values = 'rating_mean')
result_pivot

genres             Action  Adventure  Animation  Children's    Comedy  \
ages  age2
1910s 미성년_사회초년생  1.000000   2.000000        NaN         NaN  1.000000
      시니어_경제인구   3.000000   4.000000        NaN         NaN  3.833333
      은퇴              NaN        NaN        NaN         NaN  3.500000
      주요_경제인구    3.000000   2.000000        NaN         NaN  3.615385
1920s 미성년_사회초년생  3.100000   3.000000        NaN         NaN  3.746479
      시니어_경제인구   4.076923   3.333333        NaN         NaN  4.261905
      은퇴         3.666667        NaN        NaN         NaN  4.290323
      주요_경제인구    3.888889   3.857143        NaN         NaN  4.179878
1930s 미성년_사회초년생  3.462428   3.744792   3.520000    3.743506  4.040872
      시니어_경제인구   3.886926   4.128049   3.917293    4.256471  4.176351
      은퇴         3.867647   4.255435   4.145833    4.390977  4.256917
      주요_경제인구    3.760766   4.062396   3.875527    4.151233  4.156784
1940s 미성년_사회초년생  2.800000   3.491071   3.523590    3.500000  3.776382
      시니어_경제인구   3.493671   3.944805   3.924901    3.884615  4.063670
      은퇴         3.303030   4.082569   3.942675    3.888889  3.920886
      주요_경제인구    3.447059   3.833333   3.730634    3.706479  4.042671
1950s 미성년_사회초년생  3.845982   3.689560   3.595420    3.534904  3.827192
      시니어_경제인구   4.092381   3.992872   3.908705    3.812582  3.946691
      은퇴         4.163265   4.114007   3.921875    3.815920  4.033557
      주요_경제인구    4.031464   3.908451   3.745981    3.719907  3.946345
1960s 미성년_사회초년생  3.941281   3.815331   3.574545    3.505435  3.780521
      시니어_경제인구   3.892443   3.811849   3.691489    3.539834  3.863589
      은퇴         3.962891   3.949405   3.571429    3.475177  3.914414
      주요_경제인구    3.933259   3.834298   3.806220    3.707777  3.872037
1970s 미성년_사회초년생  3.892905   3.762846   3.454161    3.462840  3.865944
      시니어_경제인구   3.706392   3.683297   3.426471    3.291193  3.874538
      은퇴         3.792976   3.682464   3.511111    3.441860  3.952181
      주요_경제인구    3.846053   3.725504   3.601993    3.487292  3.888462
1980s 미성년_사회초년생  3.737183   3.672945   3.602204    3.491955  3.632369
      시니어_경제인구   3.664554   3.595720   3.576677    3.504659  3.600504
      은퇴         3.667491   3.622929   3.578947    3.531008  3.618331
      주요_경제인구    3.644267   3.573706   3.588458    3.422120  3.551170
1990s 미성년_사회초년생  3.284667   3.171677   3.653734    3.107011  3.370549
      시니어_경제인구   3.408513   3.384331   3.793254    3.431670  3.483639
      은퇴         3.447459   3.411538   3.728111    3.478819  3.483623
      주요_경제인구    3.289330   3.243752   3.783462    3.340228  3.398948
2000s 미성년_사회초년생  3.493972   3.026154   3.312741    3.153966  3.373926
      시니어_경제인구   3.504692   3.257042   3.594828    3.496951  3.408649
      은퇴         3.479784   3.540984   3.609756    3.513158  3.630859
      주요_경제인구    3.441691   3.022814   3.368932    3.282337  3.399200

genres              Crime  Documentary     Drama   Fantasy  Film-Noir  \
ages  age2
1910s 미성년_사회초년생       NaN          NaN  1.500000       NaN        NaN
      시니어_경제인구        NaN          NaN  3.500000       NaN        NaN
      은퇴              NaN          NaN       NaN       NaN        NaN
      주요_경제인구         NaN          NaN  2.666667       NaN        NaN
1920s 미성년_사회초년생       NaN          NaN  3.508772       NaN        NaN
      시니어_경제인구   5.000000          NaN  4.061728       NaN        NaN
      은퇴              NaN          NaN  4.222222       NaN        NaN
      주요_경제인구    4.000000          NaN  3.742515       NaN        NaN
1930s 미성년_사회초년생  4.240000          NaN  3.820779       NaN   4.355556
      시니어_경제인구   4.237500          NaN  4.207805       NaN   4.301370
      은퇴         3.947368     2.000000  4.328025       NaN   3.944444
      주요_경제인구    4.270718          NaN  4.110265       NaN   4.325581
1940s 미성년_사회초년생  4.226891          NaN  3.988224       NaN   4.162234
      시니어_경제인구   4.167939          NaN  4.176968       NaN   4.294776
      은퇴         4.169935          NaN  4.177847       NaN   4.262087
      주요_경제인구    4.234160          NaN  4.168633       NaN   4.271015
1950s 미성년_사회초년생  4.211073     1.000000  4.040404  3.414925   4.191235
      시니어_경제인구   4.252874          NaN  4.123170  3.721068   4.196305
      은퇴         4.345550          NaN  4.169505  3.752688   4.175676
      주요_경제인구    4.204840     4.000000  4.147650  3.665854   4.256314
1960s 미성년_사회초년생  4.017391     4.266667  3.929981  3.212121   4.208696
      시니어_경제인구   3.904321     3.666667  4.049945  3.351351   4.200803
      은퇴         3.873418     3.875000  4.128561  3.160000   4.238095
      주요_경제인구    3.862500     3.777778  4.036392  3.344444   4.194825
1970s 미성년_사회초년생  4.282005     3.000000  4.114331  4.146979   4.448529
      시니어_경제인구   4.153061     3.285714  3.945257  4.136294   4.409396
      은퇴         4.178495     4.333333  4.072348  4.037500   4.418367
      주요_경제인구    4.259383     3.750000  4.022267  4.212223   4.272588
1980s 미성년_사회초년생  3.683756     4.107317  3.860622  3.563414   3.906832
      시니어_경제인구   3.677834     4.089606  3.815471  3.600000   3.970629
      은퇴         3.729017     3.928571  3.899283  3.522500   3.959596
      주요_경제인구    3.648792     4.032967  3.763041  3.525015   3.962800
1990s 미성년_사회초년생  3.614316     3.855006  3.652853  2.918231   3.894558
      시니어_경제인구   3.653389     3.930832  3.714873  3.229236   3.943820
      은퇴         3.682609     4.051546  3.820801  3.216418   3.862348
      주요_경제인구    3.612921     3.946036  3.646185  3.050869   3.847805
2000s 미성년_사회초년생  3.288274     3.369748  3.607843  2.642857        NaN
      시니어_경제인구   3.129630     3.653061  3.694551  2.357143        NaN
      은퇴         3.050000     2.750000  3.824156  2.000000        NaN
      주요_경제인구    3.094286     3.611570  3.603326  2.311688        NaN

genres             Horror   Musical   Mystery   Romance    Sci-Fi  Thriller  \
ages  age2
1910s 미성년_사회초년생       NaN       NaN       NaN       NaN       NaN       NaN
      시니어_경제인구        NaN       NaN       NaN       NaN       NaN       NaN
      은퇴              NaN       NaN       NaN       NaN       NaN       NaN
      주요_경제인구         NaN       NaN       NaN       NaN       NaN       NaN
1920s 미성년_사회초년생  3.734694  2.400000       NaN  3.500000  4.035714  2.800000
      시니어_경제인구   4.105263  3.333333       NaN  4.066667  4.162162  3.923077
      은퇴         5.000000  4.500000       NaN  4.400000  4.187500       NaN
      주요_경제인구    4.040000  3.000000       NaN  3.736842  4.061983  3.071429
1930s 미성년_사회초년생  3.386760  3.775478  3.833333  3.805643  3.312500  4.036697
      시니어_경제인구   3.891841  4.249551  4.250000  4.125178  3.909091  4.172161
      은퇴         3.821429  4.370787  4.130435  4.316514  3.863636  3.953125
      주요_경제인구    3.778938  4.151869  4.201493  3.997791  3.683761  4.076493
1940s 미성년_사회초년생  2.947368  3.585875  4.156069  4.103647  2.000000  4.072864
      시니어_경제인구   3.269504  3.856383  4.311897  4.295388  2.333333  4.157407
      은퇴         2.941176  3.904762  4.299451  4.309028  2.500000  4.124661
      주요_경제인구    3.345946  3.724250  4.260981  4.275740  1.666667  4.122467
1950s 미성년_사회초년생  3.003049  3.665897  4.309589  3.915167  3.277487  4.242694
      시니어_경제인구   3.316527  3.863826  4.243377  4.061947  3.655660  4.168605
      은퇴         3.292208  4.018223  4.339130  4.171667  3.545685  4.199561
      주요_경제인구    3.297829  3.815426  4.275382  3.999363  3.539645  4.202738
1960s 미성년_사회초년생  3.722513  3.758478  3.924119  4.001350  3.900541  3.865366
      시니어_경제인구   3.700000  3.835258  4.087989  4.085919  3.790619  3.975877
      은퇴         3.608696  3.907455  4.106977  4.267956  3.772080  3.969819
      주요_경제인구    3.795649  3.864632  4.015288  4.075011  3.851852  3.957221
1970s 미성년_사회초년생  3.658939  3.261654  4.352381  3.754826  3.732000  3.966197
      시니어_경제인구   3.627636  3.638492  4.151424  3.758517  3.626524  3.899864
      은퇴         3.703364  3.913043  4.192118  3.930894  3.649369  3.973896
      주요_경제인구    3.694417  3.482500  4.068144  3.766159  3.679508  3.941417
1980s 미성년_사회초년생  3.243694  3.572403  3.627078  3.728246  3.636392  3.715457
      시니어_경제인구   3.038223  3.633758  3.540501  3.715655  3.626801  3.665715
      은퇴         3.056995  3.642512  3.397661  3.784062  3.596785  3.645441
      주요_경제인구    3.113629  3.549544  3.474380  3.622812  3.615314  3.657097
1990s 미성년_사회초년생  3.017327  3.455402  3.414584  3.467447  3.273257  3.451016
      시니어_경제인구   2.867759  3.532659  3.542690  3.590712  3.345551  3.549709
      은퇴         2.851613  3.486989  3.581878  3.631658  3.307163  3.582037
      주요_경제인구    3.007617  3.452623  3.451373  3.482373  3.267155  3.472958
2000s 미성년_사회초년생  2.945976  4.087719  2.791506  3.139633  3.189108  3.205507
      시니어_경제인구   2.704142  3.363636  2.607143  3.220000  3.134106  3.402479
      은퇴         2.685714  3.333333  2.000000  3.764706  3.111111  3.458194
      주요_경제인구    2.855662  3.812500  2.697917  3.239787  3.126491  3.204144

genres                War   Western
ages  age2
1910s 미성년_사회초년생       NaN       NaN
      시니어_경제인구        NaN       NaN
      은퇴              NaN       NaN
      주요_경제인구         NaN       NaN
1920s 미성년_사회초년생  3.840909       NaN
      시니어_경제인구   4.040541       NaN
      은퇴         4.350000       NaN
      주요_경제인구    3.893617       NaN
1930s 미성년_사회초년생  3.935780  3.500000
      시니어_경제인구   4.219820  3.818182
      은퇴         4.285714  3.333333
      주요_경제인구    4.045106  3.000000
1940s 미성년_사회초년생  4.112805  2.545455
      시니어_경제인구   4.203938  3.528090
      은퇴         4.202586  3.551724
      주요_경제인구    4.204785  3.212766
1950s 미성년_사회초년생  3.934673  3.488550
      시니어_경제인구   4.149584  4.045198
      은퇴         4.273874  4.070175
      주요_경제인구    4.070461  3.971487
1960s 미성년_사회초년생  4.235385  4.103226
      시니어_경제인구   4.150882  3.953136
      은퇴         4.253394  3.960000
      주요_경제인구    4.204593  4.078188
1970s 미성년_사회초년생  4.105600  3.600536
      시니어_경제인구   3.992390  3.750706
      은퇴         4.089552  3.738956
      주요_경제인구    4.061257  3.813816
1980s 미성년_사회초년생  4.048351  3.612676
      시니어_경제인구   3.946618  3.239796
      은퇴         3.936451  3.296296
      주요_경제인구    3.912815  3.335534
1990s 미성년_사회초년생  3.664880  3.296066
      시니어_경제인구   3.769623  3.405328
      은퇴         3.921747  3.621984
      주요_경제인구    3.647001  3.338107
2000s 미성년_사회초년생  3.786127       NaN
      시니어_경제인구   3.882653       NaN
      은퇴         3.907895       NaN
      주요_경제인구    3.678726       NaN

In [15]:
result_pivot.to_excel("result_age_3.xlsx")